-var styles = ['https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css','https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css','style/styles.css']
each style in styles
	link(rel="stylesheet", href=style)
